#app{
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-success{
    background-color: #67FF63;
    border: none;
}

.badge-success{
    background-color: #67FF63;
}

.card-product{
    border-radius: 10px;
}

.card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-fluid{
    border-radius: 10px;
}