#app{
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-success{
    background-color: #67FF63;
    border: none;
}

.badge-success{
    background-color: #67FF63;
}